@import "nprogress/nprogress.css";
@import "tailwindcss";

/* Kustomisasi warna bar progres (opsional) */
#nprogress .bar {
  background: #007bff !important; /* Warna biru primer */
  height: 3px !important;
}

#nprogress .spinner-icon {
  border-top-color: #007bff !important;
  border-left-color: #007bff !important;
}

:root {
  --background: #f8f9fa;
  --foreground: #212529;
  --sidebar-bg: #ffffff;
  --border-color: #dee2e6;
  --primary-color: #007bff;
  --primary-hover: #0056b3;
  --primary-text: #ffffff;
  --secondary-text: #6c757d;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #e9ecef;
    --sidebar-bg: #1e1e1e;
    --border-color: #343a40;
    --primary-color: #0d6efd;
    --primary-hover: #0a58ca;
    --secondary-text: #adb5bd;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: var(--font-geist-sans), sans-serif;
  font-weight: 600;
}